<h1>SIMPLE TODO LISTS</h1>
<h2>FROM RUBY GARAGE</h2>

<div id="project">
  <% @projects.each do |p| %>
    <%= render partial: 'project', locals: {project: p}%>
  <% end %>

  <div id="project_next"></div>
</div>




  <%= button_to "Add TODO List", projects_path, id: "add_prj_btn",
                method: :create, remote: true %>
