/******************************************************************************
                      OmniAuth buttons styles
******************************************************************************/

@mixin auth_btn($picture) {
  margin-top: 10px;
  background-image: image-url($picture);
  background-repeat: no-repeat;
  border: 1px solid white;
  width: 32px;
  height: 32px;
  &:hover {
    border: 1px solid blue;
  }
}

.facebook_btn {
  @include auth_btn("facebook_32px.png");
}
