// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  $back_top: #B8BCB1 30%;
  $back_center: #d1a31e 60%;
  $back_bottom: #b75a0c 100%;

  font-family: "Helvetica Neue", Helvetica, serif;

  height: 100%;
  background: -webkit-linear-gradient($back_top, $back_center, $back_bottom) fixed;
  background: -moz-linear-gradient($back_top, $back_center, $back_bottom) fixed;
  background: -ms-linear-gradient($back_top, $back_center, $back_bottom) fixed;
  background: -o-linear-gradient($back_top, $back_center, $back_bottom) fixed;
  background: linear-gradient($back_top, $back_center, $back_bottom) fixed;

  //cursor: pointer;

  h1 {
    font-size: 1.8125em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.125em;
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  li, p{
    font-size: 16px;
    text-align: left;
  }

  #about_page {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    ul, ol {
      margin-top: 10px;
      padding-left: 10px;
      font-size: 18px;
    }

    ol {
      list-style-type: decimal;
    }
    ul li:before {
      content: '\2605 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0';
      margin: 0 -20px;
    }
  }
}
#header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #b0c4de;
  height: 2.6em;
  ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    li {
      display: inline;

      a {
        margin: 0;
        padding: 0.3em 1em 0.3em 1em;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background: #999;
        }
        &:active {
          color: blue;
          background: #888;
        }
      }
    }
  }
}

.to_left {
  float: left;
}

.to_right {
  float: right;
}

#main_page {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
}

#footer p{
  margin-top: 2em;
  padding-top: 0.5em;
  text-align: center;
  font-size: 1em;
  color: #eee;
  border-top: 1px solid #bbb;
  font: bold 14px "Times New Roman", Times, serif;
}
