// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin back_blue {
  $blue-top: #5080BF;
  $blue-bot: #33609B;
  background: -webkit-linear-gradient($blue-top, $blue-bot); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(r$blue-top, $blue-bot); /*For Opera 11.1 to 12.0*/
  background: -moz-linear-gradient($blue-top, $blue-bot); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue-top, $blue-bot); /* Standard syntax */
}

@mixin back_blue_sel {
  background-color: #5D93D0;
}

@mixin back_green {
  $blue-top: #96CDB0;
  $blue-bot: #4D8464;
  background: -webkit-linear-gradient($blue-top, $blue-bot); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(r$blue-top, $blue-bot); /*For Opera 11.1 to 12.0*/
  background: -moz-linear-gradient($blue-top, $blue-bot); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue-top, $blue-bot); /* Standard syntax */
}

/*******************************************************************************
                              Main table
*******************************************************************************/
.project_table {
  $radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin: 3em;
  background: #FFFFFF;
  min-width: 700px;
  width: 90%;
//border: 1px solid;
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;

  thead {
    @include back_blue;
    td {
      font: 18px Arial, Times, serif;
      color: white;
    }

    td:nth-child(1) {
      width: 50px;
    }
    
    td:nth-child(2) {
      width: auto;
    }
    td {
      width: 40px;
    }
  }

  tr {
    &:not(:first-child):hover  {
      background-color: #FCFED5;
    }

    td {
      height: 50px;
      vertical-align: middle;
      font: 13px Arial, Times, serif;
      color: #999999;
//border: 1px solid;
    }
    td:not:first-child {
      border-top: 1px solid #E7EBEA;
    }
  }
}

/*******************************************************************************
                              Header
*******************************************************************************/
.edit_project {
  input[type=text] {
      font: 18px Arial, Times, serif;
      padding: 5px;
      width: 100%;
      color: white;
      display: none;
      @include back_blue;
      border: none;
    }
    p {
      font: 20px Arial, Times, serif;
      width: 100%;
      color: white;
      display: block;
      text-align: center;
    }
}

/*******************************************************************************
                              New Task row
*******************************************************************************/
.new_task_row {
  background-color: #CDCDCD;
  color: white;
}

.new_task_form {
  heigth: 30px;
  display: block;
  input[type=text] {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border-radius: 3px 0px 0px 3px;
    font: 14px Arial, Times, serif;
    color: #BBBBBB;
    border-bottom: 2px solid white;
  }
}
.new_task_form_active {
    color: #555555 !important;
}

.add_task_btn {
  height: 30px;
  margin-right: 12px;
  width: 108px;
  font: 14px Arial, Times, serif;
  color: white;
  border: 1px solid #447557;
  border-radius: 0px 5px 5px 0px;
  @include back_green;
}


/*******************************************************************************
                              Task rows
*******************************************************************************/
// .task_text {
//   text-align: left;
//   border-left: 1px solid #EFDADF;
//   padding-left: 15px;
// }
.task_row {
  td:first-child {
    border-right: 1px solid #EFDADF;
  }
}

.task_checkbox {
  
}

.task_form {
  heigth: 30px;
  display: block;
  input[type=text] {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: none;
    font: 14px Arial, Times, serif;
    color: #BBBBBB;
    background-color: inherit;
    &:active {
      border: none;
      background-color: inherit;
    }
    &:disabled {
      color: #999999;
    }
  }
}

.task_form_active {
    color: #555555 !important;
    outline: none;
}

.task_form_completed {
  text-decoration: line-through;
  color: #DDDDDD;
}

.sortable {
  cursor: move;
}

.ui-sortable-helper {
  display: table;
  border: 1px solid;
  opacity: 0.4;
}
.task_placeholder {
  border: 1px solid #e0ffe0;
  background-color: #f0fff0;
}
/*******************************************************************************
                              Buttons
*******************************************************************************/
@mixin small_btn ($picture){
  background-image: image-url($picture);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
  width: 26px;
  height: 26px;
  opacity: 10%;
  &:hover {
    //border: none;
    opacity: 80%;
    background-position: 60% 60%;
  }
}

.delete_btn {
  @include small_btn("bin.png");
}

.prj_edit_btn {
  @include small_btn("pen.png");
}

.plus_task_btn {
  @include small_btn("add_gr.png");
    width: 30px;
    height: 30px;
}

.delete_task_btn {
  @include small_btn("bin.png");
  background-size: 55%;
}

.edit_task_btn {
  @include small_btn("pen.png");
  background-size: 55%;
//border-left: 1px solid #CCCCCC; 
}

.prio_task_btn {
  @include small_btn("priority.png");
//border-right: 1px solid #CCCCCC; 
}

.add_prj_btn {
  @include back_blue_sel;
  //background: #555;//linear-gradient(red, blue);
  margin-left: auto;
  margin-right: auto;
  width: 209px;
  height: 46px;
  border: 1px solid #315589;
  border-radius: 2px;
  background-image: image-url("add_bl.png");
  background-repeat: no-repeat;
  background-position: 2.5% 50%;

  font: bold 18px "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
  text-vertical-align: center;

  display: block;
  &:hover {
    border: 1px solid #000;
    @include back_blue_sel;
  }
}

// /******************* Sprite variant ****************************************/
// // http://spritegen.website-performance.org/
// @mixin stitches-sprite($x, $y, $width, $height) {
//     background-position: $x+1px $y+1px;
//     width: $width+2px;
//     height: $height+2px;
//     background-image: image-url("icons.png");
//     background-repeat: no-repeat;
//     background-color: transparent;
//     border: none;
//     //display: block;
//     &:hover {
//       background-position: $x+2px $y+2px;
//     }
// }


// // .add_prj_btn {
// //     @include stitches-sprite(-5px, -5px, 24px, 24px);
// // }

// .plus_task_btn {
//     @include stitches-sprite(-39px, -5px, 24px, 24px);
// }

// .delete_btn {
//     @include stitches-sprite(-73px, -5px, 16px, 16px);
// }

// .delete_task_btn {
//     @include stitches-sprite(-73px, -5px, 16px, 16px);
// }

// .sprite-note {
//     @include stitches-sprite(-99px, -5px, 24px, 24px);
// }

// .prj_edit_btn {
//     @include stitches-sprite(-133px, -5px, 16px, 16px);
// }

// .edit_task_btn {
//     @include stitches-sprite(-133px, -5px, 16px, 16px);
// }

// .prio_task_btn {
//     @include stitches-sprite(-159px, -5px, 10px, 13px);
// }

// .add_prj_btn {
//   @include back_blue_sel;
//   //background: #555;//linear-gradient(red, blue);
//   margin-left: auto;
//   margin-right: auto;
//   width: 209px;
//   height: 46px;
//   border: 1px solid #315589;
//   border-radius: 2px;
//   background-image: image-url("add_bl.png");
//   background-repeat: no-repeat;
//   background-position: 2.5% 50%;

//   font: bold 18px "Times New Roman", Times, serif;
//   color: white;
//   text-decoration: none;
//   text-vertical-align: center;

//   display: block;
//   &:hover {
//     border: 1px solid #000;
//     @include back_blue_sel;
//   }
// }
